//font-size

$font-xl: 2.4rem;
$font-l: 1.8rem;
$font-m: 1.5rem;
$font-s: 1.2rem;

//colors
$dark-blue: #20212c;
$dark-grey: #121219;
$medium-grey: #3e3f4e;
$grey: #828fa3;
$light-grey: #e4ebfa;
$lines-light: #f4f7fd;
$white: #ffffff;
$purple: #635fc7;
$light-purple: #a8a4ff;
$red: #ea5555;
$light-red: #ff9898;
